<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div align = "center">
        <h1> Updated Phot Of {{data.name}}</h1><br>
        <img src="{{data.img_path}}" alt="" srcset="" height="200px" width="200px"><br>
        <a href="{% url 'UploadFile:home' %}">
            <button>Home</button>
        </a>
    </div>
</body>
</html>