<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div align = "center">
        {% if datas %}
            <table cellspacing = "40" >
                <th>Name</th>
                <th>photo</th>
                
                {% for data in datas %}
                <tr>
                    <td align="Center">{{data.name}}</td>
                    <td align="Left"><img src="{{data.img_path}}" alt="" height="100px" width="100px"></td>
                </tr>
                {% endfor %}
                
            </table>
        {% else %}
             
            <h1>No Data Found</h1>
            <p>Insert Some Data To View Data Here</p>

        {% endif %}
        <a href="{% url 'UploadFile:home' %}">
            <button>Home</button>
        </a>
        
        
    </div>
    
</body>
</html>