<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Photo For</title>
</head>
<body>

    <div align = "center" >
        <h2>Please Confirm To Remove The Below Photo For</h2><br>
        <h1> {{data.name}}</h1>
        <img src="{{data.img_path}}" alt="" height="300px" width="300px"><br><br>
        <form action="{% url 'UploadFile:delete' %}" method="post" id ="del">
            {% csrf_token %}
        </form>

        <button form="del" type="submit" value = "{{data.id}}" name = "delet_id">Yes</button>
        <a href="{% url 'UploadFile:search' %}">
            
            <button>No</button>

        </a>
        
        
    </div>


    
</body>
</html>