<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home To Upload Files</title>
{% load static %}
</head>
<body>
    <div align = "center">
        
        <form action="" method="" enctype="multipart/form-data" id = "data_in">
            {% csrf_token %}
            <table align="center">
                <tr>
                    
                    <td>
                        <label >Enter Name</label><br>
                        <input type="text" name = "name" id = "name"><br>
                        <span id = "name_error"></span><br>
                    </td>
                </tr>
                
                <tr>
                    
                    <td>
                        <label >Enter Photo</label><br>
                        <input type="file" name = "image" accept="image/*" id="picture"><br>
                        <span id = "picture_error"></span><br>
                    </td>
                </tr>
                <tr>
                    
                </tr>
                <tr>
                    <td>
                        <button id = 's_btn' form="data_in">submit</button>
                    </td>
                </tr>
            </table>
        </form>

        <a href="{%url 'UploadFile:all_data' %}">
            <button>All Data</button>
        </a>
        <a href="{%url 'UploadFile:search' %}">
            <button>Delete OR Update Data</button>
        </a>
    </div>

<script src="{% static '/js/app.js' %}" type="text/javascript"></script>
    
</body>
</html>